canvas#starfield {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  /* Add these properties for better performance */
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  will-change: transform;
}

body {
  background-color: #000;
  background-image: 
    radial-gradient(circle at top right, rgba(40, 40, 40, 0.15), transparent),
    radial-gradient(circle at 20% 80%, rgba(30, 30, 30, 0.15), transparent);
}